:root{
    --side: 30vw;
    --margin: 50vh;
}
.post{
    border-radius: 25px;
    border: 2px solid #a181c6;
    padding: 20px;
    width: var(--side);
    display: flex;
    height: var(--side);
    margin-left: var(--margin)
}
.display{
    display: block;
}