.hr {
    border: 6px solid #a181c6;
}
.scrollable-div {
    background-color: #f1f1f1;
    height: 67vh;
    overflow: auto;
    width: 25%;
    float:left; /* add this */
}

.btn{
    margin-left: 1vw;
    background-color: #a181c6;
    border-radius: 10px;
}
.textbox{
    width: 75vw;
}
.hr2 {
    border: 6px solid #a181c6;
    width: 75vw;
    margin-left: 25vw;

}
.msg {
    margin-left: 25vw;
}

.rounded-input{
    border-radius: 5px;
    width: 65vw;
    margin-left: 1vw;
    height: 10vh;
}
.rounded-input2{
    border-radius: 5px;
    width: 10vw;
    margin-left: 1vw;
    margin-top: 20px;
    height: 2vh;
}
.btn2 {
    margin-top: 30px;
    margin-left: 1vw;
}
.arrow{
    width: 30px;
}
.text-conversation {
    background-color: #f1f1f1;
    height: 70vh;
    overflow: auto; /* if you don't want #second to wrap below #first */
    margin-left: 10vw;
}

.row {
    display: flex;                  /* establish flex container */
    justify-content: left; /* switched from default (flex-start, see below) */
}
.addFriend {
    margin-left: 1vw;
    height: 6vh;
    margin-top: 1vh;
}

.icon {
    width: 30px;
}

.friends-list {
    background-color: #f1f1f1;
    height: 50vh;
    overflow: auto;
    width: 100%;
    margin-left: 30vw;
}

.text-messages {
    overflow: hidden;
}

.content {
    overflow: hidden; /* will contain if #first is longer than #second */
    width: 100%;
}