.postbtn{
    margin-top: 3vh;
    border-radius: 40px;
    width: 12vh;
    height: 4vh;
    margin-left: 33vw;
    background-color: #a181c6;

}
.postbtn:hover{
    background-color: #702fbb;
}
.rounded-input3{
    border-radius: 5px;
    width: 65vw;
    margin-left: 1vw;
    height: 3vh;
}

.fix {
    margin-left: 20vw;
}